
.navbar-brand{
    margin-left: 50PX;
}
.image{
    width:100%;
    background-size: cover;
}

h1{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    font-size: 50px;
    color: blue;
    
}
h2{
    padding-left: 30%;
    padding-right: 25%;
    font-size: 30px;
    color: blue;
}
.btn-1 {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:rgb(23, 68, 128);
    border-radius: 0px;
    font-size: 20px;
    color: black;
    align-content: center;
}
.row{
    padding-top: 50px;
}